## Creating various series from various object types

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
labels = ['a','b','c']        # list
my_data = [10,20,30]          # list of data
arr = np.array(my_data)       # array
d = {'a':10, 'b':20, 'c':30}  # dictionary

In [6]:
pd.Series(data = my_data)     # Note that the result shows 
                              # the index and the data

0    10
1    20
2    30
dtype: int64

In [7]:
# The key to a panda series is that you can specify what you want that 
# index to be.
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [10]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [12]:
# Pandas can also convert your dictionary into a Series with the keys as
#Â indices and the values as the data.
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [13]:
# You can also store other types of data, like strings
pd.Series(data = labels)

0    a
1    b
2    c
dtype: object

In [15]:
# or functions
pd.Series(data = [sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

### Using an index

In [17]:
ser1 = pd.Series([1,2,3,4], ['USA', 'UK', 'USSR', 'Japan'])

In [18]:
ser1

USA      1
UK       2
USSR     3
Japan    4
dtype: int64

In [20]:
ser2 = pd.Series([1,2,5,4], ['USA', 'UK', 'Germany', 'Japan'])

In [21]:
ser2

USA        1
UK         2
Germany    5
Japan      4
dtype: int64

In [22]:
ser1['USA']      #

1

In [23]:
ser3 = pd.Series(data = labels)

In [25]:
ser3[0]

'a'

In [26]:
ser1 + ser2 # Note here that NumPy & Pandas will always 
            # convert ints to floats.

Germany    NaN
Japan      8.0
UK         4.0
USA        2.0
USSR       NaN
dtype: float64