# Jupyter notebook shortcuts

**Run** = Shift + Enter

**Insert Cell Below Current Cell** = Alt + Enter

**Save** = Cmd + Enter

**Interrupt Infinite *while* Loop** = Go to Kernel and click 'Restart'

**Help** = click 'Help'

**Call a docstring for more information about a function**
        
        = start typing the function
          with cursor at the end of function, click = Shift + Tab

**Methods available?** = Type '.' after variable and click = Tab

# Using .format on a string

In [2]:
num = 9
name = 'Georgy'

In [3]:
print('My number is {} and my name is {}'.format(num,name))

My number is 9 and my name is Georgy

### Alternative method

In [4]:
print('My number is {one} and my name is {two}, more {one}'.format(one = num, two = name))

My number is 9 and my name is Georgy, more 9

In [8]:
print('My number is {} and my name s {}'.format(num,name))

My number is 9 and my name s Georgy

# Booleans

In [9]:
True

True

In [29]:
False

False

### With logical operators 'and' and 'or'.

In [22]:
True and True

True

In [24]:
True and False

False

In [25]:
False and False

False

In [26]:
True or True

True

In [27]:
True or False

True

In [28]:
False or False

False

# Sets in Python
A set is a collection of unique elements. Looks the same as a dictionary, except it's just elements.

In [11]:
{1, 2, 3}

{1, 2, 3}

In [12]:
{1, 1, 1, 2, 2, 2, 3, 3, 3}

{1, 2, 3}

In [16]:
{4, 2, 3, 4, 2, 1}

{1, 2, 3, 4}

In [14]:
set([1, 1, 2, 3, 4, 4, 5, 5, 5, 5])

{1, 2, 3, 4, 5}

In [17]:
s = {1, 2, 3, 3}

In [18]:
s.add(5)

In [19]:
s

{1, 2, 3, 5}

# To interrupt infinite loop
### If *Out* continuing to go without stopping or see *In [* \* *]*
Go to **'Kernel'** and click **Restart**

# range()

In [30]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [31]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [32]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# List comprehension

### We can do the following as shorthand using List comprehension:

In [33]:
x = [1,2,3,4]

In [35]:
out = []

for num in x:
    out.append(num**2)

In [41]:
print(out)

[1, 8, 27, 64]

### Using list comprehension

In [39]:
out = [num**3 for num in x]

In [40]:
print(out)

[1, 8, 27, 64]

# map() function

In [45]:
def times2(var):
    return var*2

In [48]:
times2(5)

10

In [49]:
seq = [1, 2, 3, 4, 5]

### Using map()
Creates an interator that computes the function using arguments from each of the iterables. Stops when the shortest iterable is exhausted.

i.e. you are going to say map(), pass in a function (e.g times2), and then the sequence that you want to map that function to. Running this will report back that you have a map at a particular point in your memory. 

If you actually want to execute the map and get the result back as a list you can cast it into a list using the list() function. This will return a list of elements that have had the function applied to each element in the original sequence.

In [52]:
map(times2,seq)

In [51]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

# lamba expression

### Alternatively known as an *anonymous function*

##### It's basically a way of typing an entire function into one line of clean code

In [53]:
# You can write a short function like the below on one line
def times3(var): return var*3

In [54]:
times3(5)

15

In [58]:
# when you don't want to define an entire function
# you can use lambda.

# One method of using lambda:
t = lambda var: var*4

In [57]:
t(6)

18

In [59]:
# More usual method:
list(map(lambda num: num*3, seq))

[3, 6, 9, 12, 15]

# filter() function

### Filters through an iterable object (e.g. seq) for values that return True for a function or lambda expression that contains a conditional operation

In [64]:
filter(lambda num: num%2 == 0, seq)

In [63]:
list(filter(lambda num: num%2 == 0, seq))

[2, 4]

# Some notable methods

### For dictionaries

In [81]:
d = {'k1': 1, 'k2': 2}

In [73]:
d

{'k1': 1, 'k2': 2}

In [74]:
d.keys()

dict_keys(['k1', 'k2'])

In [75]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [82]:
d.values()

dict_values([1, 2])

### For lists

In [77]:
l = [1, 2, 3]

In [78]:
l

[1, 2, 3]

In [79]:
l.pop()

3

In [80]:
l

[1, 2]

In [83]:
l = [1, 2, 3, 4, 5]

In [84]:
item = l.pop()

In [85]:
l

[1, 2, 3, 4]

In [86]:
item

5

In [87]:
first = l.pop(0)

In [88]:
l

[2, 3, 4]

In [89]:
first

1

In [90]:
l.append('new')

In [91]:
l

[2, 3, 4, 'new']

# *in* operator

In [92]:
'x' in [1, 2, 3]

False

In [93]:
'x' in ['x', 'y', 'z']

True

In [94]:
'x' in {1:'x', 2:'y', 3:'z'}

False

In [95]:
'x' in {'x':1, 'y':2, 'z':3}

True

# tuple unpacking

In [96]:
x = [(1, 2), (3, 4), (5, 6)]

In [97]:
x[0][1]

2

In [98]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [101]:
# This is tuple unpacking
for a, b in x:
    print(a)
    print(b)

1
2
3
4
5
6